@page "/classificacoesGerais"

@using LightsOut.Data
@inject PilotoService PilotoService

<div class="classificacoes">

    <div class="filtros">
        <div class="row">
            <button type="button" @onclick="PrevEpoca">&#8249</button>
            <p>Época @(epocaPretendida-1)/@epocaPretendida</p>
            <button type="button" @onclick="ProxEpoca">&#8250</button>
        </div>

        <div class="row">
            <button type="button" @onclick="PrevProva">&#8249</button>
            <p>Prova @provaPretendida</p>
            <button type="button" @onclick="ProxProva">&#8250</button>
        </div>
    </div>

    <div class="leftTable">
        <h1>Classificação Geral Pilotos</h1>

        @foreach (var local in localizacoes)
        {
            <div class="skillBox">
                <p>@local.nome</p>
                <p>@local.nacionalidade</p>
                <div class="skill">
                    <div class="skill_level" style=("width:" + @piloto.Pontos + "%" )></div>
                </div>
            </div>
        }
    </div>

    <div class="rightTable">
        <h1>Classificação Geral Equipas</h1>
        <div class="skillBox">
            <p>Mercedes-Benz</p>
            <p>89</p>
            <div class="skill">
                <div class="skill_level" style="width: 89%"></div>
            </div>
        </div>

        <div class="skillBox">
            <p>Red-Bull</p>
            <p>75</p>
            <div class="skill">
                <div class="skill_level" style="width: 75%"></div>
            </div>
        </div>

        <div class="skillBox">
            <p>McLaren</p>
            <p>40</p>
            <div class="skill">
                <div class="skill_level" style="width: 40%"></div>
            </div>
        </div>
    </div>
</div>

@code {
    private Piloto[] pilotos;
    private List<Localizacao> localizacoes;
    private int provaPretendida = 1;
    private int epocaPretendida = 2021;

    private void ProxProva()
    {
        provaPretendida++;
    }

    private void PrevProva()
    {
        if (provaPretendida >= 1)
        {
            provaPretendida--;
        }
    }

    private void ProxEpoca()
    {
        epocaPretendida++;
    }

    protected void PrevEpoca()
    {
        if (epocaPretendida >= 1)
        {
            epocaPretendida--;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        
        Localizacao l = new Localizacao();
        localizacoes = l.GetLocalizacoes();
        pilotos = await PilotoService.GetClassificacao();
    }
}